<%- include('partials/_header') %>

<% data.forEach((propiedad,index) => {%>
  <% if (propiedad.propiedad == '409') { %>

<div id="carouselExampleFade" class="carousel slide carousel-fade">
  <div class="carousel-inner">
    <div id="slider-izquierdo" class="card-img-overlay" style="top: 80px;">
      <button class="btn btn-light"> < </button>
    </div>

    <div class="slider-screen">
      <img name="Imagen" class="d-block w-100">
    </div>
    
    <div id="slider-derecho" class="card-img-overlay" style="top: 80px; left: 360px;">
      <button class="btn btn-light"> > </button>
    </div>
  </div>
</div>

    <div class="model2 ml-4 mr-4 mt-2">
          <tr>  
            <h3><%= propiedad.titulo %></h3>
            <h6>Loft entero en <%= propiedad.ubicacion %>, Barranquilla</h6>
            <h6><%= propiedad.huespedes %> - <%= propiedad.habitacion %> - <%= propiedad.camas %> - <%= propiedad.bano %></h6>
          </tr>
          
          <hr />  
          <h6 class='texto-apoyo'>Dónde vas a dormir ?</h6>
          
          <div class='camas'>
            <div class="contenedor-camas d-flex">
              <div class="info-camap p-2">
                <h6>Habitación</h6>
                <p>1 cama queen</p>
              </div>
              <div class="info-cama p-2">
                <h6 class="fw-bold">Sala</h6>
                <p>1 sofá cama</p>
              </div>
            </div>
          </div>
          
          <hr />
          <div class="amenidades">
            <h6 class='texto-apoyo'>Lo que este lugar ofrece</h6>
            <ul class='formato-amenid'>
              <li class='titulo-amenidades'>Dormitorio y Lavadero</li>
              <li class='texto-amenid'>Lavadora en la vivienda: Gratis</li>
              <li class='texto-amenid'>Secadora en la vivienda: Gratis</li>
              <li class='texto-amenid'>Ganchos para la ropa</li>
              <li class='texto-amenid'>Sábanas</li>
              <li class='texto-amenid'>Almohadas y mantas</li>
              <li class='texto-amenid'>Plancha</li>
              <li class='texto-amenid'>Espacio para guardar ropa: Armario</li>
              
              <li class='titulo-amenidades'>Entretenimiento</li>
              <li class='texto-amenid'>Conexión Ethernet</li>
              <li class='texto-amenid'>Televisor de alta definición Smart TV</li>
              <li class='texto-amenid'>Gimnasio</li>
              <li class='texto-amenid'>Piscina</li>
              
              <li class='titulo-amenidades'>Refrigeración</li>
              <li class='texto-amenid'>Sistema de aire acondicionado tipo split</li>
              <li class='texto-amenid'>Ventiladores portátiles</li>
              
              <li class='titulo-amenidades'>Internet y oficina</li>
              <li class='texto-amenid'>Wifi</li>
              <li class='texto-amenid'>Zona de trabajo</li>
              
              <li class='titulo-amenidades'>Cocina</li>
              <li class='texto-amenid'>Refrigerador</li>
              <li class='texto-amenid'>Utensilios básicos para cocinar</li>
              <li class='texto-amenid'>Platos y cubiertos</li>
              <li class='texto-amenid'>Lavavajillas</li>
              <li class='texto-amenid'>Estufa a gas</li>
              <li class='texto-amenid'>Horno</li>
              <li class='texto-amenid'>Cafetera</li>
              <li class='texto-amenid'>Tostadora</li>
              <li class='texto-amenid'>Licuadora</li>
              
              <li class='titulo-amenidades'>Instalaciones y Servicios</li>
              <li class='texto-amenid'>Cerradura inteligente</li>  
              <li class='texto-amenid'>Estacionamiento gratuito</li>
              <li class='texto-amenid'>Balcón privado</li>
              <li class='texto-amenid'>Ascensor</li>
              <li class='texto-amenid'>Se permiten mascotas</li>
              <li class='texto-amenid'>Disponible para estadías largas</li>
              <li class='texto-amenid'>Llegada autónoma</li>
              <br /> <br />
            </ul>
            
          </div>
          
          <% } %>
          <% }); %>
        </div>
        <script src="slider.js"></script>

      </body>
      </html>